h1{
  color: #ffffff;
  font-size: 45px;  
}

body{
  background-image: url('https://i.postimg.cc/Cxf5MD5h/statistics-background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 100%;
}

h1:hover {
  color:#fac05e;
  font-size: 45px;
}

nav {
  list-style-type: none;
  position: absolute;
  background-color: #70d6ff;
  top: 0;
  width: 100%;
  left: 0;
}

li{
  display: inline;
  padding: 20px;
  float: left;
}

li:hover {
  background-color: #fac05e;
}

a {
  text-decoration: none;
  color: #ffffff;
}
